.chartsBlock {
  width: 100%;
}

.amount-irk {
  width: 520px;
  margin-left: auto;

  .barChart {
    height: 135px;
  }
}

.amount-bur {
  width: 574px;

  .barChart {
    height: 200px;
  }
}

.bar-legend {
  padding: 0;
  text-align: left;
  list-style: none;
}

.ico-legend {
  position: relative;
  padding-left: 20px;
  margin: 5px auto;
}

.ico-legend::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}

.ico-legend:nth-child(1)::before {
  background-color: #595959; /* черемховский */
}
.ico-legend:nth-child(2)::before {
  background-color: #b3b3b3; /* прочий уголь */
}
.ico-legend:nth-child(3)::before {
  background-color: #56db40; /* древесина */
}
.ico-legend:nth-child(4)::before {
  background-color: #ffd21e; /* мазут */
}
.ico-legend:nth-child(5)::before {
  background-color: #1e98ff; /* газ */
}
.ico-legend:nth-child(6)::before {
  background-color: #b51eff; /* электро */
}
.ico-legend:nth-child(7)::before {
  background-color: #ed4543; /* возобновляемые */
}
.ico-legend:nth-child(8)::before {
  background-color: #f371d1; /* тепловые насосы */
}

@media only screen and (max-width: 600px) {
  .chartsBlock {
  }
}
