body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  font-family: 'PT Sans', 'Calibri', sans-serif;
  background: linear-gradient(170deg, white, rgb(188, 205, 212)) fixed;
  height: 100%;
}
