html,
body {
  font-family: 'PT Sans', 'Calibri', sans-serif;
  background: linear-gradient(170deg, white, rgb(188, 205, 212)) fixed;
  font-size: 15px;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}
.head {
  background-color: rgb(14, 71, 107);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  position: relative;
  top: 0;
  padding: 6px 0;
}
.head-text {
  color: white;
  margin: 0 5px 0 20px;
  font-size: medium;
  font-weight: 400;
}
#isem-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}
.box-80 {
  margin: auto;
  width: 1536px;
}
.container {
  height: 100%;
  background-color: white;
}
.title {
  text-align: center;
  color: #aa7700;
  font-weight: 500;
  margin: 1px auto;
  font-size: 1.5rem;
  padding-bottom: 3px;
}
.left-box {
  width: 950px;
  padding: 0;
}
.discription {
  text-align: justify;
  font-size: 1rem;
  margin: auto;
  width: 1400px;
  padding: 5px 0;
}
.center-inside {
  display: flex;
  align-items: center;
}
.script-selection-box {
  background-color: rgb(21, 95, 141);
  color: white;
  height: 39px;
  padding: 0 10px;
}
.script-selection-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 6px;
}
.script-selection-button {
  display: flex;
  margin: 0 12px;
  border: none;
  color: white;
  background: local;
  cursor: pointer;
  transform: scale(2);
  border-radius: 4px;
}
.script-selection-button:hover,
.no-select:hover {
  background: rgb(13, 72, 109);
}
.script-selection-button:active {
  transition: 0.05s;
  transform: scale(1.9);
  opacity: 0.6;
}
.selected {
  transform: scale(1.9);
  opacity: 0.6;
}
.no-select {
  font-size: 1.2rem;
  margin: 0 1px;
  padding: 5px;
  border: none;
  color: white;
  background: local;
  cursor: pointer;
  border-radius: 4px;
}
.no-select:active {
  transition: 0.05s;
  transform: scale(0.98);
  opacity: 0.6;
}
.selected-now-script {
  transform: scale(0.98);
  opacity: 0.6;
}
.horizontal-border {
  height: 1.2rem;
  border-radius: 5px;
  border-right: 0.5px solid rgba(206, 206, 206, 0.568);
}
.img-recyclePower {
  height: 1rem;
}
.tippy-box {
  background-color: rgb(16, 97, 148);
  border-radius: 8px;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.432);
  font-size: 1rem;
  max-width: 340px !important;
}
.tippy-box div p {
  text-align: justify;
  justify-content: space-between;
}
.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: rgb(16, 97, 148);
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: rgb(16, 97, 148);
}
.tippy-box[data-placement^='left'] > .tippy-arrow::before {
  border-left-color: rgb(16, 97, 148);
}
.tippy-box[data-placement^='right'] > .tippy-arrow::before {
  border-right-color: rgb(16, 97, 148);
}
.bar-box {
  width: 514px;
}
.bar-1 {
  height: 140px;
  width: 462px;
  margin: 21.5px 0 0 0;
  margin-left: auto;
}
.bar-2 {
  height: 200px;
  width: 514px;
}
@media (max-width: 1601px) {
  .box-80 {
    width: 1300px;
  }
  .discription {
    width: 1220px;
  }
  .bar-box {
    width: 430px;
  }
  .left-box {
    width: 845px;
  }
  .right-box {
    width: 445px !important;
  }
  .bar-1 {
    height: 140px;
    width: 378px;
    margin-left: auto;
  }
  .bar-2 {
    height: 200px;
    width: 430px;
  }
}
.ya-map-box {
  height: 80%;
}
.donut {
  width: 140px;
  height: 140px;
  margin: auto;
}
.donut-box {
  margin: auto;
  width: 190px;
}
.chart-title {
  text-align: center;
  font-size: 2rem;
}
.chart-region-name {
  padding-left: 10px;
  margin: auto 0;
  width: 76px;
}
.right-box {
  width: 576px;
  height: 650px;
}
.flex-box {
  display: flex;
}
.banner {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 0;
}
.ya-map {
  position: relative;
  height: 100%;
}
.ymaps-2-1-79-balloon__layout,
.ymaps-2-1-79-balloon,
.ymaps-2-1-79-inner-panes,
.ymaps-2-1-79-map {
  border-radius: 6px;
}
.bar-legend {
  padding: 0;
  text-align: left;
  list-style: none;
}
.ico-legend {
  position: relative;
  padding-left: 20px;
  margin: 5px auto;
}
.ico-legend::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
}
.ico-legend:nth-child(1)::before {
  background-color: #808080;
}
.ico-legend:nth-child(2)::before {
  background-color: #bfbfbf;
}
.ico-legend:nth-child(3)::before {
  background-color: #74c460;
}
.ico-legend:nth-child(4)::before {
  background-color: #d6ce5a;
}
.ico-legend:nth-child(5)::before {
  background-color: #8bbfff;
}
.ico-legend:nth-child(6)::before {
  background-color: #c497ff;
}
.centr-items {
  margin: auto;
}
.table-box {
  display: flex;
  height: min-content;
  margin: 4px 0 0 0;
  align-items: center;
  font-size: 0.9rem;
  padding: 0 20px;
}
.curr-status-table {
  border-collapse: collapse;
  width: 100%;
}
.coll-title {
  vertical-align: middle;
}
.reg-name {
  text-align: left !important;
  padding: 0 !important;
  width: 160px !important;
}
.reg-total {
  font-style: italic;
  color: rgb(0, 110, 212);
  font-weight: 600;
}
.even {
  background-color: rgba(228, 228, 228, 0.781);
}
thead {
  text-align: center;
}
.curr-status-table thead td {
  border-bottom: 1px solid rgba(148, 148, 148, 0.384);
}
.curr-status-table td {
  border-right: 1px solid rgba(148, 148, 148, 0.445);
  border-bottom: 1px solid rgba(148, 148, 148, 0.445);
  padding: 2px 5px;
  position: relative;
  width: fit-content;
  text-align: center;
  background-clip: padding-box;
}
.last-td {
  border-right: none !important;
}
.curr-status-table tbody td:last-child {
  border-right: none;
}
.dont-chose {
  text-align: center;
  color: rgba(88, 88, 88, 0.534);
}
.better {
  background: rgba(157, 240, 157, 0.582);
}
.worse {
  background: rgba(238, 137, 137, 0.568);
}
.equally {
  background: rgba(250, 248, 143, 0.582);
}

.better:last-child {
  border-right: none !important;
}
.worse:last-child {
  border-right: none !important;
}
.equally:last-child {
  border-right: none !important;
}
.table-legend {
  padding-top: 5px;
  text-align: center;
  list-style: none;
}
.ico-table-legend {
  position: relative;
  padding: 0 10px 0 33px;
  display: inline-block;
}
.ico-table-legend::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2rem;
  height: 1rem;
  border-radius: 4px;
  border: 1px solid rgba(148, 148, 148, 0.384);
  vertical-align: bottom;
}
.ico-table-legend:nth-child(2)::before {
  background-color: rgba(255, 255, 255, 0.582);
}
.ico-table-legend:nth-child(2)::before {
  background-color: rgba(157, 240, 157, 0.582);
}
.ico-table-legend:nth-child(3)::before {
  background-color: rgba(238, 137, 137, 0.568);
}
.ico-table-legend:nth-child(4)::before {
  background-color: rgba(250, 248, 143, 0.582);
}
.footnote {
  margin: 4px 20px;
  padding: 0 20px;
}
.only-map-box {
  height: calc(100vh - 194.5px);
  background-color: white;
  width: 90%;
  margin: auto;
}
.footer {
  background-color: rgb(14, 71, 107);
  line-height: 1.2;
  padding: 10px 20px;
  color: white;
}
