.dynamicContent {
  display: flex;
  font-size: 14px;
}

.left-block {
  width: 65%;
}

.right-block {
  width: 35%;
  padding: 0 10px;
}

.table-box {
  display: flex;
  padding: 0 10px;
}

@media only screen and (max-width: 600px) {
  .dynamicContent {
  }
}
